<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Dorm Connect - Yale </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- STYLESHEETS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/feather.css">
	<link rel="stylesheet" href="/css/style-index.css">
</head>

<body class="landing">

	<main>
		<div class="navbar">

		<div class="header-wrapper">
			<div class="container max-container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-3 col-xs-6"><a href="/" class="logo"><i class="feather-zap text-success display2-size me-3 ms-0"></i><span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">Dorm Connect </span> </a></div>
					
					<div class="col-lg-6 col-md-6 col-sm-6 d-none d-lg-block">
						<ul class="list-inline text-center mb-0 mt-2 pt-1">
		
						</ul>

					</div>
					<div class="text-right">
						<a href="/login" class="btn btn-lg btn-primary text-uppercase">Log In</a>
						<a href="/register" class="btn btn-lg btn-primary text-uppercase">Register</a>
					</div>
				
				</div>
			</div>
		</div>

		<div class="banner-wrapper h100 bscover">
			<div class="banner-content">
				<div class="container max-container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-8">
						
							<h2 class="title-text mb-5 mt-5"><b>Connect within your <span>Resco</span>.</b></h2>
							<h4 class="d-inline-block">6,590 <span>Yale <br> Undergrads</span></h4>
							<h4 class="d-inline-block">14 <span>Residental <br> Colleges</span></h4>
							<h4 class="d-inline-block">"1" <span>Way to <br> Chat</span></h4>
							
							<div class="clearfix"></div>
							
						</div>

					</div>
					

				</div>
			</div>
		</div>
	 
		<div class="section pb100 pt50" id="feature">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						
					</div>
					<div class="col-lg-5 offset-lg-1">
						<h2 class="title-text2 mb-4 mt-5"><b>Conflict Resolution Forum</b></h2>				<p>A dedicated space for roommates to discuss issues and seek advice from peers or designated mediators, either anonymously or openly.
						</p>
						
					</div>

				</div>
			</div>
		</div>

		
	</main>
    <script src="/js/plugin.js"></script>
    <script src="/js/scripts.js"></script>

</body>

</html>
